<ul class="shareList2">
  <li class="shareList2__item"><a class="shareList2__link icon-twitter" href="https://twitter.com/share?url=<%= request.url %>&text=" target="_blank" title="Twitter"></a></li>
  <li class="shareList2__item"><a class="shareList2__link icon-facebook" href="https://www.facebook.com/share.php?url=<%= request.url %>" target="_blank" title="Facebook"></a></li>
  <li class="shareList2__item"><a class="shareList2__link icon-google-plus" href="https://plus.google.com/share?url=<%= request.url %>" target="_blank" title="Google+"></a></li>
  <li class="shareList2__item"><a class="shareList2__link icon-hatebu" href="//b.hatena.ne.jp/add?mode=confirm&url=<%= request.url %>&text=" target="_blank" title="はてなブックマーク"></a></li>
  <li class="shareList2__item"><a class="shareList2__link icon-line" href="https://social-plugins.line.me/lineit/share?url=<%= request.url %>" target="_blank" title="LINE"></a></li>
</ul>