<section class="spot-show">
  <h2><%= spot.name %>のレビュー</h2>
  <% if spot.spot_reviews.exists? %>
    <p>全<%= spot.spot_reviews.count %>件</p>
    <% spot.spot_reviews.each do |spot_review| %>
    <span><%= attachment_image_tag spot_review.spot_review_images.first, :image, :fill, 50, 50 %></span>
      <dl>
        <dt>タイトル</dt>
          <dd><%= spot_review.title %></dd>
        <dt>レビュー内容</dt>
          <dd><%= spot_review.body %></dd>
        <dt>行った時期</dt>
          <dd><%= spot_review.season.strftime('%Y/%m') %></dd>
        <dt>同行者</dt>
          <dd><%= spot_review.fellow_travelers %></dd>
        <dt>投稿者</dt>
          <dd><%= spot_review.user.nickname %>さん(年代：<%= spot_review.user.age %>｜性別：<%= spot_review.user.gender %>)</dd>
        <% if user_signed_in? %>
          <% if spot_review.helpfuled_by?(current_user) %>
            <dt>参考になったを外しますか？</dt>
              <dd>
                <%= link_to spot_spot_review_spot_review_helpfuls_path(spot_id: spot_review.spot.id, spot_review_id: spot_review.id), method: :delete do %>
                <!-- <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> -->
                <%= spot_review.spot_review_helpfuls.count %> はい
                <% end %>
              </dd>
          <% else %>
            <dt>このレビューは参考になりましたか？</dt>
              <dd>
                <%= link_to spot_spot_review_spot_review_helpfuls_path(spot_id: spot_review.spot.id, spot_review_id: spot_review.id), method: :post do %>
                <!-- <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> -->
                <%= spot_review.spot_review_helpfuls.count %> はい
                <% end %>
              </dd>
          <% end %><!-- if spot_review.helpfuled_by? -->
        <% end %><!-- if user_signed_in? -->
      </dl>
    <% end %><!-- @spot.spot_reviews.each do -->
  <% else %>
  <p><%= spot.name %>のレビューはまだ投稿されていません</p>
  <% end %><!-- if spot.spot_reviews.exists? -->
<% if user_signed_in? %>
  <% spot_went = current_user.spot_wents.find_by(spot_id: spot.id) %>
  <% unless spot_went.nil? %>
    <%= form_for(spot_review, url: spot_spot_reviews_path(spot)) do |f| %>
      <%= render 'spot_review_form', f: f %>
    <% end %><!-- form_forのend -->
  <% end %><!-- unless spot_went.nil? -->
<% end %><!-- if user_signed_in? -->
</section>