<h2 class="tabcontent-headline"><%= spot.name %>について</h2>
<p class="spot-description"><%= spot.description %></p>
<table class="tbl-r02">
  <tr>
    <th>営業時間/期間</th>
    <td><%= spot.period %></td>
  </tr>
  <tr>
    <th>所在地</th>
    <td><span class="spot-location"><%= spot.location %></span>
        <span class="spot-map">
          <% if spot.latitude.nil? || spot.longitude.nil? %>
            <%= link_to "地図を見る", spot.map_url, class: "map_btn" %>
          <% else %>
            <%= link_to "地図を見る", map_path, class: "map_btn" %>
          <% end %>
        </span>
    </td>
  </tr>
  <tr class="last">
    <th>交通アクセス</th>
    <td><%= spot.path %></td>
  </tr>
</table>

