<h1><%= @spot.name %></h1>

<% f_share = "https://www.facebook.com/share.php?url=" + request.url %>
<% t_share = "https://twitter.com/share?url=" + request.url + "&text=" %>
<% l_share = "https://social-plugins.line.me/lineit/share?url=" + request.url %>
<% h_share = "//b.hatena.ne.jp/add?mode=confirm&url=" + request.url + "&text=" %>
<% g_share = "https://plus.google.com/share?url=" + request.url %>

<%= link_to "Facebookでシェア", f_share, rel: "nofollow", target: "_blank" %><br>
<%= link_to "Twitterでシェア", t_share, rel: "nofollow", target: "_blank" %><br>
<%= link_to "LINEで送る", l_share, rel: "nofollow", target: "_blank" %><br>
<%= link_to "はてブで送る", h_share, rel: "nofollow", target: "_blank" %><br>
<%= link_to "G+で送る", g_share, rel: "nofollow", target: "_blank" %>

<p style="background-color: lightblue;">タグを表示したいです</p>
<span>エリア=></span><%= @spot.area.prefecture.region.name %> => <%= @spot.area.prefecture.name %> => <%= @spot.area.name %><br>
<span>ジャンル=></span><%= @spot.s_spot_genre.l_spot_genre.name %> => <%= @spot.s_spot_genre.name %>


<% if @spot.went?(current_user) %>
  <li>
    <%= link_to spot_spot_wents_path(@spot), method: :delete do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @spot.spot_wents.count %> 行った
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to spot_spot_wents_path(@spot), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= @spot.spot_wents.count %> 行った
      <% if @spot.want?(current_user) %>
        <li>
          <%= link_to spot_spot_wants_path(@spot), method: :delete do %>
            <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @spot.spot_wants.count %> 行きたい
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to spot_spot_wants_path(@spot), method: :post do %>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <%= @spot.spot_wants.count %> 行きたい
          <% end %>
        </li>
      <% end %>
    <% end %>
  </li>
<% end %>




<div class="spot-show-box">
<ul class="bxslider">
<% @spot.spot_images.each do |image| %>
  <li><%= attachment_image_tag image, :image, :fill, 300, 300 %></li>
  <% end %>
</ul>

<input id="tab01" type="radio" name="tabinput" checked>
<input id="tab02" type="radio" name="tabinput">

<ul class="tabnav">
  <li><label class="tabnav01" for="tab01">概要</label></li>
  <li><label class="tabnav02" for="tab02">レビュー</label></li>
</ul>

<div class="tabcontent">
  <span id="sidebar">
  <a class="twitter-timeline" data-width="220" data-height="700" href="https://twitter.com/NTA_jp?ref_src=twsrc%5Etfw">Tweets by NTA_jp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>
  <div id="tabcontent01">
  <%= render 'show_gaiyou', spot: @spot %>
  </div>
  <div id="tabcontent02">
  <%= render 'show_review', spot: @spot, spot_review: @spot_review %>
  </div>
</div><!-- class="tabcontent" -->
</div><!-- class="spot-show-box" -->