<div class="field">
  <%= f.label :名前 %><br />
  <%= f.text_field :name, autofocus: true, placeholder:"\uf007 名前(2〜20文字)", class: "form-control fa"  %>
</div>

<div class="field">
  <%= f.label :ニックネーム %><br />
  <%= f.text_field :nickname, autofocus: true, placeholder:"\uf006 ニックネーム(2〜20文字)", class: "form-control fa" %>
</div>

  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :性別 %><br />
        <%= f.select :gender, User.genders.keys.to_a, :prompt => "性別を選択してください" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :年代 %><br />
        <%= f.select :age, User.ages.keys.to_a, :prompt => "年代を選択してください" %>
      </div>
    </div>
  </div>

<div class="field">
  <%= f.label :メールアドレス %><br />
  <%= f.email_field :email, autofocus: true, placeholder:"\uf0e0 メールアドレス", class: "form-control fa" %>
</div>

<div class="actions" style="margin-top: 5%;">
  <%= f.submit "上記の内容で更新する", class: "edit-submit" %>
</div>

<div class="pc-user-tailai">
  <%= link_to "\uf071 退会する", user_path(current_user), method: :delete, class: "user-delete-btn fa", "data-confirm" => "本当に退会しますか？" %>
</div>