<h2><%= @user.nickname %>さんのページです</h2>
<h3>登録情報を変更する</h3><i style="float: right;"><%= link_to "退会する", user_path(current_user), method: :delete, "data-confirm" => "本当に退会しますか？" %></i>
<%= form_for(@user) do |f| %>
 <%= render 'edit_user_form', f: f %>
<% end %>

<input id="tab01" type="radio" name="tabinput" checked>
<input id="tab02" type="radio" name="tabinput">
<input id="tab03" type="radio" name="tabinput">

<ul class="tabnav">
  <li><label class="tabnav01" for="tab01">行きたい/行った一覧</label></li>
  <li><label class="tabnav02" for="tab02">投稿レビュー一覧</label></li>
  <li><label class="tabnav03" for="tab03">参考になったレビュー一覧</label></li>
</ul>

<div class="tabcontent">
  <%= render 'my_wants_and_wents', spot_wants: @spot_wants, spot_wents: @spot_wents %>
  <%= render 'my_reviews', spot_reviews: @spot_reviews %>
  <%= render 'my_keep_helpfuls', spot_review_helpfuls: @spot_review_helpfuls %>
</div>