<span><%= link_to "全国", root_path %> => 地域:</span><%= link_to "#{@prefecture.region.name}", regions_path(@prefecture, id: @prefecture.region.id) %> => 都道府県名:<%= @prefecture.name %><br>
<h1>観光地一覧(<%= @prefecture.name %>)</h1>
<section class="left">
  <% @prefecture.areas.each do |area| %>
  <ul>
  	<li><h2><%= area.name %></h2>
  		<% if area.spots.exists? %>
  		  <% area.spots.each do |spot| %>
  		    <ul><li><h3><%= link_to "#{spot.name}", spot_path(spot) %>＝＞<%= spot.s_spot_genre.name %></h3></li></ul>
  		  <% end %>
  		<% else %>
  		  <ul><li><%= area.name %>エリアの観光地はまだ登録されていません</li></ul>
  		<% end %>
  	</li>
  </ul>
  <% end %>
</section>
<%= render 'layouts/sidebar' %>