<span><%= link_to "全国", root_path %> => 地域:</span><%= link_to "#{@prefecture.region.name}", regions_path(@prefecture, id: @prefecture.region.id) %> => 都道府県名:<%= @prefecture.name %><br>
<h1>エリアごとの観光地一覧(<%= @prefecture.name %>)</h1>
<section class="left">
  <% @prefecture.areas.each do |area| %>
  <ul>
  	<li>
      <% if area.spots.exists? %>
        <h2><%=link_to "#{area.name}エリア", area_path(area) %></h2>
      <% else %>
        <h2><%= area.name %>エリア(このエリアに登録されている観光地はまだありません)</h2>
  		<% end %>
  	</li>
  </ul>
  <% end %>
</section>
<%= render 'layouts/sidebar' %>