 <!-- <div class="header-text-sp">素敵な<span class="header-text">観光地</span>見つけよう！</div> -->
 <div class="header-text-pc"><span>行きたい観光地を見つけよう!</span></div>
 <header>
   <%= link_to image_tag('1_Primary_logo_on_transparent_210x69.png', :alt =>"アイコン"), '/', class: "header-logo" %>
    <span class="flash" style="color: #0000FF;"><%= notice %></span><span class="flash" style="color: red;"><%= alert %></span>
   <% if user_signed_in? %>
     <div class="login-nav">
       <span>ようこそ<strong class="orange"><%= current_user.nickname %></strong>さん(<%= link_to "マイページ", user_path(current_user) %>)</span>
       <span class="nav-last-content"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
     </div>
   <% else %>
     <div class="login-nav">
       <span>ようこそ<strong class="orange">ゲスト</strong>さん(<%= link_to "ログイン", new_user_session_path %>)</span>
       <span class="nav-last-content"><%= link_to "初めての方はこちら", sign_up_top_path %></span>
     </div>
   <% end %>
 </header>