<!DOCTYPE html>
<html>
  <head>
    <title>観光地さがします</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="ja">
    <meta name="description" content="「観光地さがします」は、都道府県やエリアを選択するだけで観光地をピックアップできるサイトです。">
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="観光地さがします"/>
    <meta property="og:site_name" content="観光地さがします"/>
    <meta property="og:description" content="「観光地さがします」は、都道府県やエリアを選択するだけで観光地をピックアップできるサイトです。" />
    <!-- <meta property="og:url" content="http://localhost:3000" /> -->
    <!-- <meta property="og:image" content="https://secure.gravatar.com/avatar/ba111671b9d4dbdb9eff02471c361827" /> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="/assets/style.css" rel="stylesheet" />
    <link href="/assets/icon.css" rel="stylesheet" />
    <!-- <!– Read bxSlider CSS file –> -->
    <link href="/assets/jquery.bxslider.css" rel="stylesheet" />
  </head>

  <body>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
        appId      : '682762378746819',
        xfbml      : true,
        version    : 'v3.1'
        });
      FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
    </script>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    <header style="background-color: orange;">
      <% if user_signed_in? %>
      <ul>
        <li>ようこそ<%= current_user.nickname %>さん</li>
        <li><%= link_to "TOPへ", root_path %></li>
        <li><%= link_to "マイページ", user_path(current_user) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
      <ul>
        <li>ようこそゲストさん</li>
        <li><%= link_to "TOPへ", root_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "初めての方はこちら", new_user_registration_path %></li>
        <li><%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path %></li>
        <li><%= link_to "Twitterでログイン", user_twitter_omniauth_authorize_path %></li>
      </ul>
      <% end %>
    </header>
    <%= notice %>
    <%= alert %><br>
    <%= yield %>
    <footer>
      <p style="background-color: orange;">ここはフッターです(フッターにはコピーライトとページ上部へ戻るを表示させる予定です)
      <%= link_to "一覧で選ぶ", regions_path %></p>
    </footer>
    <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="/assets/jquery.bxslider.min.js"></script>
    <script src="/assets/bxSlider_option.js"></script>
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['AIzaSyDaLY_RRWm88jI9SILzPCQP_N1g9EsiL3M'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </body>
</html>
