<!DOCTYPE html>
<html>
  <head>
    <title>Kankouchisagashimasu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- <!– Read bxSlider CSS file –> -->
    <link href="/assets/jquery.bxslider.css" rel="stylesheet" />
  </head>

  <body>
    <header style="background-color: orange;">
      <% if user_signed_in? %>
      <ul>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
      <ul>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      </ul>
      <% end %>
      <p>パンくずリストを表示したいです</p>
    </header>
    <%= notice %>
    <%= alert %>
    <%= yield %>
    <footer>
      <p style="background-color: orange;">ここはフッターです(フッターにはコピーライトとページ上部へ戻るを表示させる予定です)</p>
    </footer>
    <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="/assets/jquery.bxslider.min.js"></script>
    <script src="/assets/bxSlider_option.js"></script>
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['AIzaSyDaLY_RRWm88jI9SILzPCQP_N1g9EsiL3M'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </body>
</html>
